#titulo{
    color: brown;
    text-align: center;
    background-color: cornflowerblue;
}
.titulo2{
    font-family: cursive;
    color: powderblue;
    font-size: 30px;
}
.texto1{
    font-size: 15px;
}